<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="./curriculum-standard.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title>
</head>
<body>
  <div id="cv" class="cv-container">
    <header>
      <div class="profile-header">
        <img src="assets/foto.jpg" alt="Foto de Mariano Saczkowski" class="profile-picture">
        <h1>Mariano Saczkowski</h1>
      </div>
      <p class="contact-info">
        <span><i class="fas fa-map-marker-alt"></i> Domicilio: San Miguel, Buenos Aires, Argentina.</span>
        <span><i class="fab fa-whatsapp"></i> Celular: 1168310897</span>
        <span><i class="fas fa-envelope"></i> E-mail: <a href="mailto:mariano.saczkowski@gmail.com">mariano.saczkowski@gmail.com</a></span>
        <span><a href="https://www.linkedin.com/in/mariano-saczkowski-7b9bb513a/"><i class="fab fa-linkedin"></i> Perfil de Linkedin</a></span>
      </p>
    </header>

    <hr>

    <section>
      <h2>Resumen profesional</h2>
      <p>Tengo 31 años, 5 años de experiencia como programador en diversas areas: SAP - Front-End - Desarrollo Web. Quiero continuar mi carrera fortaleciendo mis conocimientos. Me gusta trabajar en equipo y me desenvuelvo perfectamente.</p>
    </section>

    <hr>

    <section>
      <h2>Experiencia laboral</h2>
      <ul>
        <li>
          <h3>Axoft.SA - (actualmente)</h3>
          <p>Enero de 2023</p>
          <p>Programador Ssr .NET</p>
        </li>
        <li>
          <h3>BP4.SA - 1 Año y 10 meses</h3>
          <p>Abril de 2021 - Diciembre 2022</p>
          <p>Programador Angular/.NET/java </p>
        </li>
        <li>
          <h3>KPMG Argentina - 2 años</h3>
          <p>Abril de 2019 - Abril 2021</p>
          <p>Programador Abap Sr</p>
        </li>
      </ul>
    </section>

    <hr>

    <section>
      <h2>Educación</h2>
      <ul>
        <li>
          <h3>Universidad Nacional de General Sarmiento</h3>
          <p>Licenciatura en sistemas / Ciencias exactas</p>
          <p>Promedio: 8.0/10. Materias aprobadas: 7/30.</p>
        </li>
      </ul>
    </section>

    <hr>

    <section>
      <h2>Habilidades</h2>
      <ul>
        <li>Programación en .NET</li>
        <li>Desarrollo con Angular</li>
        <li>Programación en Java</li>
      </ul>
    </section>

    <hr>
  </div>
</body>
</html>
