<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./curriculum-standard.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title>
</head>
<body>
  <div class="cv-container">
    <header>
      <div>
        <img src="assets/foto.jpg" alt="Mi foto">
        <h1>Mariano Saczkowski</h1>
      </div>
      <button onclick="generarPDF()">Descargar PDF</button>
      <p>
        <i class="fas fa-map-marker-alt" style="color: #d93f3f;"></i> Domicilio: San Miguel, Buenos Aires, Argentina.
        <br><br>
        <i class="fab fa-whatsapp-square" style="color: #75c440;"></i> Celular: 1168310897
        <br><br>
        <i class="fas fa-envelope" style="color: #716f6f;"></i> E-mail: mariano.saczkowski@gmail.com
        <br><br>
        <i class="fab fa-linkedin" style="color: #2134e1;">
        <span class="spacer"></span>
        </i><a href="https://www.linkedin.com/in/mariano-saczkowski-7b9bb513a/">Acceso a LinkedIn</a>
      </p>
    </header>

    <hr> <!-- Separador -->

    <section>
      <h2>Resumen profesional</h2>
      <p>
        Gracias por contactarme. Tengo 30 años, llevo más de 4 años de experiencia como programador y quiero
        continuar mi carrera en un ambiente laboral donde pueda trabajar en equipo. Con ganas de trabajar y
        aprender.
      </p>
    </section>

    <hr> <!-- Separador -->

    <section>
      <h2>Experiencia laboral</h2>
      <ul>
        <li>
          <h3>Axoft.SA - 5 meses</h3>
          <p>Enero de 2023 - Trabajo actual</p>
          <p>Programador .NET Ssr</p>
          <p></p>
        </li>
        <li>
          <h3>BP4.SA - 1 Año y 10 meses</h3>
          <p>Abril de 2021 - Diciembre 2022</p>
          <p>Programador .NET/Angular/Java Jr </p>
          <p></p>
        </li>
        <li>
          <h3>KPMG Argentina - 2 años</h3>
          <p>Abril de 2019 - Abril 2021</p>
          <p>Programador Abap Sr</p>
          <p></p>
        </li>
        <!-- Repite este bloque para cada experiencia laboral -->
      </ul>
    </section>

    <hr> <!-- Separador -->

    <section>
      <h2>Educación</h2>
      <ul>
        <li>
          <h3>Universidad Nacional de General Sarmiento</h3>
          <p>Licenciatura en sistemas / Ciencias exactas</p>
          <p>Promedio: 8.0/10.
            Materias aprobadas: 7/30.</p>
        </li>
        <!-- Repite este bloque
