<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./curriculum-standard.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxx" crossorigin="anonymous" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title>
</head>
<body>
  <div class="cv-container">
    <header>
      <div><img src="assets/foto.jpg" alt="Mi foto">
        <h1>Mariano Saczkowski</h1></div>
      <button mat-fab extended (click)="downloadPDF()"> <mat-icon>home</mat-icon>Descargar PDF</button> <div class="button-container">
      </div>
      <p>   Domicilio: San Miguel, Buenos Aires, Argentina.
        <br><br><i class="fa-brands fa-whatsapp" style="color: #1f5125;"></i>Celular: 1168310897
        <br><br>E-mail: mariano.saczkowski@gmail.com
        <br><br><a href="https://www.linkedin.com/in/mariano-saczkowski-7b9bb513a/">Perfil de Linkedin</a>
      </p>
    </header>

    <hr> <!-- Separador -->

    <section>
      <h2>Resumen profesional</h2>
      <p>Gracias por contactarme. Tengo 31 años y llevo 5 años de experiencia como programador y quiero
        continuar mi carrera en un ambiente laboral donde pueda trabajar en equipo. Con ganas de trabajar y
        aprender.</p>
    </section>

    <hr> <!-- Separador -->

    <section>
      <h2>Experiencia laboral</h2>
      <ul>
        <li>
          <h3>Axoft.SA - 5 meses</h3>
          <p>Enero de 2023 - Trabajo actual</p>
          <p>Programador Ssr .NET</p>
          <p></p>
        </li>
       <li>
          <h3>BP4.SA - 1 Año y 10 meses</h3>
          <p>Abril de 2021 - Diciembre 2022</p>
          <p>Programador Angular/.NET/java </p>
          <p></p>
        </li>
        <li>
          <h3>KPMG Argentina - 2 años</h3>
          <p>Abril de 2019 - Abril 2021</p>
          <p>Programador Abap Sr</p>
          <p></p>
        </li>
        <!-- Repite este bloque para cada experiencia laboral -->
      </ul>
    </section>

    <hr> <!-- Separador -->

    <section>
      <h2>Educación</h2>
      <ul>
        <li>
          <h3>Universidad Nacional de General Sarmiento</h3>
          <p>Licenciatura en sistemas / Ciencias exactas</p>
          <p>Promedio: 8.0/10.
            Materias aprobadas: 7/30.</p>
        </li>
        <!-- Repite este bloque para cada nivel de educación alcanzado -->
      </ul>
    </section>

    <hr> <!-- Separador -->

    <section>
      <h2>Habilidades</h2>
      <ul>
        <li>Habilidad 1</li>
        <li>Habilidad 2</li>
        <li>Habilidad 3</li>
        <!-- Agrega más habilidades -->
      </ul>
    </section>

    <hr> <!-- Separador -->




  </div>
</body>
</html>
